body {
    background-color: #88f2ff;
    margin: 12pt;
    padding: 15pt;
    border: 8px solid #1e6ebf;
    border-radius: 11px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

h3 {
    margin-top: 46px;
    margin-bottom: 3px;
}

.error {
    color: red;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

/*---  Main Page  ---*/

.item {
    max-width: 350px;
    margin-left: 8px;
    padding: 4px;
    border: 1px solid #1e6ebf;
    border-radius: 9px;
}
.item-wrapper_regular {
    max-width: 386px;
    padding-top: 10px;
    padding-bottom: 6px;
}
.item-wrapper_small {
    max-width: 386px;
    padding-bottom: 2px;
}

.item-MouseOverEdit {
    font-size: larger;
    max-width: 386px;
    margin-left: 0px;
    padding: 4px;
    border: 5px solid #808d7b;
    border-radius: 9px;
    background-color: #d3e7dc;
}

.item-MouseOverDelete {
    font-size: larger;
    max-width: 386px;
    margin-left: 0px;
    padding: 4px;
    border: 5px solid #ab8799;
    border-radius: 9px;
    background-color: #eedbe4;
}

.sum {
    max-width: 350px;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 3pt;
    border: 1px solid #1e6ebf;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.sum:hover {
    font-size: larger;
    margin-bottom:9.5px;
    border: 4px solid #1e6ebf;
}

.item_firstLine {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.item_secondLine {
    display: flex;
    justify-content: space-between;

}
.item_secondLine_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item_secondLine_buttons {
    margin-top: 4pt;
    display: flex;
    justify-content: space-between;
}

#user_color {
    color: blueviolet;
}


/*---  Buttons  FrontPage ---*/

#edit-button_FrontPage {

}

#edit-button_FrontPage-image {
    transform: rotate(0deg) translateY(1px);
    height: 12px;
    width: 12px;
}

#delete-button_FrontPage {
    margin-left: 6px;
}

#create-button_FrontPage {
    margin-top: 16pt;
    margin-left: 6pt;
}

#createUser-button_FrontPage {
    margin-left: 180pt;
}

#showMyItemsOnly-button_FrontPage {
    margin-left: 6pt;
}

/*---  Buttons  Create/EditPage ---*/

#cancel-button {
    margin-top: 16pt;
}

#edit-button {
    margin-left: 20pt;
}


/*-- Buttons Login/RegisterPage ---*/

#register-button {
    margin-left: 16pt;
}

#showPassword-button {
    margin-left: 145pt;
    margin-top: 3pt;
}

#showPassword-button-icon {
    transform: translateY(1px);
    height: 12px;
    width: 12px;
}