body {
    background-color: #88f2ff;
    margin: 12pt;
    padding: 15pt;
    border: 8px solid #1e6ebf;
    border-radius: 11px;
}


/*---  Main Page  ---*/

.item {
    max-width: 260pt;
    margin: 6pt;
    padding: 3pt;
    border: 1px solid #1e6ebf;
    border-radius: 6px;
}

.item-MouseOverEdit {
    font-size: larger;
    max-width: 260pt;
    margin: 6pt;
    padding: 3pt;
    border: 4px solid #808d7b;
    border-radius: 6px;
    background-color: #cfe5c7;
}

.item-MouseOverDelete {
    font-size: larger;
    max-width: 260pt;
    margin: 6pt;
    padding: 3pt;
    border: 4px solid #ab8799;
    border-radius: 6px;
    background-color: #eedbe4;
}

.sum {
    max-width: 260pt;
    font-weight: bold;
    margin: 6pt;
    padding: 3pt;
    border: 1px solid #1e6ebf;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.sum:hover {
    font-size: larger;
    border: 3px solid #1e6ebf;
}

.item_firstLine {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.item_secondLine {
    display: flex;
    justify-content: space-between;
}

.item_secondLine_buttons {
    margin-top: 4pt;
    display: flex;
    justify-content: space-between;
}


/*---  Buttons  FrontPage ---*/

#edit-button_FrontPage {

}

#edit-button_FrontPage-image {
    transform: rotate(0deg) translateY(1px);
    height: 12px;
    width:12px;
}

#edit-button_FrontPage:hover {

}

#delete-button_FrontPage {
    margin-left: 6pt;

}


#create-button_FrontPage {
    margin-top: 16pt;
    margin-left: 6pt;
}


/*---  Buttons  Create/EditPage ---*/

#cancel-button {
    margin-top: 16pt;

}

#edit-button {
    margin-left: 20pt;

}

/*---  EditPage ---*/

.edit {


}